<div>
  <div class="p-3 bg-primary text-white d-flex align-items-center justify-content-between">
    <%= link_to group_path(@group) do %>
      <i class="bi bi-arrow-left fs-4 text-white"></i>
    <% end %>
  </div>

  <div class="d-flex align-items-center justify-content-start bg-light border shadow-sm bg-body col-12 p-3">
    <p class="text-secondary mb-0"><%= @group.name %></p>
  </div>
  <div class="container">
    <h3 class="text-center m-4">New transaction</h3>
    <%= render "form", entity: @entity %>
  </div>
</div>
