<p style="color: green"><%= notice %></p>

<h1>CATEGORIES</h1>
<div id="groups">
  <% @groups.each do |group| %>
    <%= render group %>
  <% end %>
</div>

<%= link_to "Add a new category", new_group_path %>