<p style="color: green"><%= notice %></p>

<h1>CATEGORIES</h1>
<div id="groups">
  <% @groups.each do |group| %>
    <%= render group %>
  <% end %>
</div>
<i class="bi bi-list"></i><i class="bi bi-search"></i><i class="bi bi-x"></i><i class="bi bi-arrow-left-short"></i>
<%= link_to "Add a new category", new_group_path %>